global
	log /dev/log local0
	log /dev/log local1 notice
	maxconn 4096
	user haproxy
	group haproxy
	daemon

defaults
	log	global
	mode	tcp
	option	tcplog
	timeout	connect	5s
	timeout	client	1m
	timeout	server	1m

frontend k8s-api
	bind	*:6443
	default_backend	k8s-masters

backend k8s-masters
	mode tcp
	balance roundrobin
	option tcp-check
{% for host in groups['control_planes'] %}
  server {{ host }} {{ hostvars[host].ansible_host }}:6433 check
{% endfor %}
